html, body {
    height: 100%;
}
body{
    background-image: url(../image/p1.png);
}
img{
    max-width: 100%;
}

/* ログインページ */
body#login_background {
    background-image: url(../image/polaroid.png)
}

#login_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#login_chapel{
    width:300px;
    height:500px;
    position:absolute;
    top: 60%;
    transform: translateY(-50%);
    left:65%;
}

#login_container input{
    border-radius:5px;
}

#login_title {
    text-align: center;
}

#login_title h1 {
    font-family: Century,serif;
    font-size: 50px;
    line-height: 1.3;
    /*padding-left: 120px;*/
}

#login_logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#login_form {
    width: 320px;
    margin: 0 auto;
    text-align: right;
}

/* thanks.php(購入後ページ)の設定  */
#thanks_container h1{
    color: #F21859;
    font-size: 90%;
    text-align: center;
    margin-bottom: 100px;
}
#thanks_container h2{
    font-family: "Times New Roman",serif;
    color: #3F72F5;
    margin-bottom: 100px;
    font-size: 300%
}

/* アイテム一覧のページ設定 */
.menuitem:hover{
    cursor:pointer;
    background-color: #59b1eb;
}

.menuitem {
    position: relative;
    background-color: #1abc9c;
    border-radius: 8px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #0e8c73;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    padding: 15px;
    margin: 4px;
    width: 284px;
    text-align: center;
}
.menuitem:hover {
    cursor:pointer;
    background-color: #31d8aa;
    box-shadow: 0 3px 0 #23a188;
}
.menuitem:active {
    top: 3px;
    box-shadow: none;
}